@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

/* * */
body{
    margin: 0;
    font-family: 'Nunito Sans' !important;
    font-style: normal !important;
    background: #473AD10F;
}

/* flex */
.flx-row{
    display: flex;
    flex-direction: row;
}
.flx-col{
    display: flex;
    flex-direction: column;
}
.jstfy-center{
    justify-content: center;
}
.jstfy-between{
    justify-content: space-between;
}
.jstfy-end{
    justify-content: end;
}

/* font */
.logo-txt-blue{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 40px;
    color: #6379F4;
}
.logo-txt-white{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}
.btn-txt-white{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.btn-txt-blue{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #6379F4;
}
.fnt-header{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 93px;
    color: #3A3D42;
}
.fnt-header2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #3A3D42;
}
.fnt-paragraph{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #3A3D42;
}
.fnt-desc{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: rgba(58, 61, 66, 0.9);
}
.fnt-desc2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(58, 61, 66, 0.9);
}
.fnt-bold{
    font-weight: bold;
}
.fnt-footer{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(239, 239, 239, 0.9);
}
.copyrigth-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(239, 239, 239, 0.9);
}
.txt-ctr{
    text-align: center;
}
/* font size */
.font-size-29{
    font-size: 29px;
}
/* button */
.btn-custom-white{
    max-width: 150px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #6379F4;
    font-weight: lighter;
}
.btn-custom-blue{
    max-width: 150px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #6379F4;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: lighter;
}
.btn-try-blue{
    max-width: 150px;
    padding: 20px 40px;
    border-radius: 12px;
    background-color: #6379F4;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}
.btn-cstm:hover{
    background-color: #8e9cf0 !important;
}
/* sizing */
.container-box{
    margin-left: 150px;
    margin-right: 150px; 
}
.width-100{
    width: 90%;
}
.width-50{
    width: 50%;
}
.width-25{
    width: 25%;
}
/* color */
.color-green{
    color: #1EC15F;
}
.color-red{
    color: #FF5B37;
}
.color-blue-pm{
    background-color: #6379F4;
}
.txt-color-blue{
    color: #6379F4;
}
.txt-color-white{
    color: #FFFFFF;
}
.bg-blue{
    background: #6379F4;
    width: 100%;
}
.bg-white{
    background-color: #FFFFFF;
}
.bg-prmry{
    background: #FAFCFF;
    width: 100%;
}
.bg-scnd{
    background: #473AD10F;
    width: 100%;
}
.bg-color-tranasparent{
    background-color: transparent !important;
}
.bg-grey-light{
    color:#3a3d4298;
}
.show-eye{
    color: #6379F4;
}
.blue-active{
    color: #6379F4;
}
.nav-link.active{
    color: #6379F4 !important;
}
.nav-link.not-act{
    color: #3A3D42CC !important;
}
/* background */
.bg-header-1{
    background-image: url(/assets/img/bg-v1.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}
.bg-header-2{
    background-image: url(/assets/img/bg-phone-v2.png);
    background-repeat: no-repeat;
    /* background-position: top right; */
    background-size: 60%;
}
.bg-header-3{
    background-image: url(/assets/img/bg-v3.png);
    background-repeat: no-repeat;
    /* background-position: top right; */
    background-size: 100%;
}
.bg-auth{
    background-image: url(/assets/img/auth-mask.png);
    background-size: 100%;
}
.bg-box-count{
    background-color: #473AD10F;
}
/* border */
.border-blue{
    border: 2px solid #6379F4;
}
/* card */
.card-1{
    /* width: 360px; */
    background: #fff;
    border-radius: 25px;
    padding: 40px 20px;
}
/* align */
.alg-center{
    align-items: center;
}
/* position */
.gap-20{
    gap: 20px;
}
/* padding */
.pad-10{
    padding: 10px;
}
.pad-25{
    padding: 25px 25px;
}
.pad-box-count{
    padding: 34px 95px;
}
.pad-t-60{
    padding-top: 60px;
}
.pad-t-15{
    padding-top: 15px;
}
.pad-r-30{
    padding-right: 30px;
}
.pad-l-70{
    margin-left: 70px;
}
.pad-y-80{
    padding: 80px 0;
}
.pad-y-120{
    padding: 120px 0;
}
.pad-y-100{
    padding: 120px 0;
}
.pad-x-150{
    padding: 0 150px;
}
.px-6{
    padding: 0 8rem;
}
/* margin */
.mar-l-20{
    margin-left: 20px;
}
.mar-r-20{
    margin-right: 20px;
}
.mar-r-40{
    margin-right: 40px;
}
.mar-b-20{
    margin-bottom: 20px;
}
.mar-b-30{
    margin-bottom: 30px;
}
.mar-b-70{
    margin-bottom: 70px;
}
.mar-t-15{
    margin-top: 15px;
}
.mar-t-50{
    margin-top: 50px;
}
.mar-x-auto{
    margin: 0 auto;
}
/* radius */
.rads-12{
    border-radius: 12px;
}
.rads-85{
    border-radius: 85px;
}


/* custom */
.link-rm-line{
    text-decoration: none !important;
}
.cstm-border{
    border: unset;
    border-bottom: 2px solid #3a3d423b;
    padding: 20px 20px !important;
}
.cstm-border:focus{
    border: unset;
    border-bottom: 2px solid #3a3d423b;
    box-shadow: none !important;
}
.bg-input-group{
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid #3a3d423b;
}
.bg-input-group:focus{
    border: 2px solid #3a3d423b;
}
.pin-wrapper{
    max-height: 60px;
}
.pin-wrapper input:focus{
    outline: none;
}
.box-pin{
    width: 2em; 
    height: 3em; 
    border: unset;
    margin: 10px;
    border-bottom: 2px solid #3a3d423a;
}
.box-pin-border{
    border:  1px solid #3a3d4269;
    border-radius: 10px;
}
/* disable spin number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.color-blue-light{
    color: #B5B0ED;
}
.color-white-20{
    background-color: #FFFFFF33;
}
.max-w-8{
    min-width: 8em; 
    max-width: 8em;
}
.link-text:hover{
    color: #6379F4 !important;
}